# checker
asyncio
beautifulsoup4
lxml
mock
pysocks
pytest
pytest-asyncio
pytz
requests
unidecode
# headless browser related
fake-useragent
selenium
pyvirtualdisplay

# bot
python-telegram-bot==13.5
redis
unidecode

#fetcher
smtplib
